# Sleep time for sockets
SLEEP_TIME = 0.1

# Path where song catalog will be generated and read from
CATALOG_JSON_PATH = "./catalog.json"
EXAMPLE_CATALOG_PATH = "./catalog.json.example"

# Size of paging chunks returned by paged API calls
CHUNK_SIZE = 100

# Path to directory recursively searched for karaoke files
KARAOKE_LIBRARY_ROOT = "/relative/or absolute/path/to/karaoke/file/root"
