/* General Styles */

body {
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  background: black;
  color: red;
  display: flex;
  justify-content: center;
  padding: .5em;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Nav Styles */

.header {
  background: #eee;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: .5em 0;
}

.header li {
  margin: 0 2em;
}

.header a {
}


/* Search Styles */

.search_bar {
}

.song_search_container {
}

input#search {
  width: 100%;
  height: 3rem;
  padding-left: 1rem;
  font-size: 1rem;
}


/* Browse Styles */

.song_alphabet_container {
  margin: 1rem 0 0 1.1rem;
  font-size: 0.75rem;
}

select#letter_picker {
  margin-left: 0.25rem;
}

/* Song List Styles */

.song-list {
  margin: 2rem 1.2rem;
  padding: 0;
  list-style: none;
}

.catalog_entry {
  margin-bottom: 2rem;
}

.artist {

}

.title {
  font-size: 0.8rem;
  font-weight: 300;
}


/* Playlist Styles */

.next_song_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin-top: -100px;
}

.next_song {
  width: 300px;
  margin: 0 auto;
}

.next_song_container #song_title {
  font-size: 2em;
  margin: .5em;
}
